.listEmployees {
    min-width: 400px;
}
.employee {
    border: #bebebe solid 1px;
    border-radius: 10px;
    background: #eeeeee;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.selectedEmployee {
    border: #90eee3 solid 1px;
    background: #e2f1f5;
}
.employee__name {
    font-size: 20px;
    margin: 10px;
}
.employee__attributes {
    font-size: 15px;
    margin: 10px 0 0 40px ;
}